{% extends 'my_app/scheleton.html' %}

{% block content %}
    <h3 class="display-4">Tournaments</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Tournament</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
                <tr>
                    <td>{{participant.id}}</td>
                    <td>{{participant.name}}</td>
                    <td>{{participant.tournament}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}