{% extends 'my_app/scheleton.html' %}

{% block content %}
    <h3 class="display-4">Positions</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Minimum salary</th>
                <th>Maximum salary</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pos in object_list %}
                <tr>
                    <td>{{pos.id}}</td>
                    <td>{{pos.name}}</td>
                    <td>{{pos.min_salary}}</td>
                    <td>{{pos.max_salary}}</td>
                    <td><a href="{%url 'position_update' pos.id%}">edit</a>
                    <td><a href="#" data-url="{%url 'position_delete' pos.id%}" data-toggle="modal" data-target="#exampleModal">delete</a>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-url="" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete a position</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="save_button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    S</div>

    <script language="JavaScript">
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                var csrftoken = Cookies.get('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $("a[data-url]").each(function(_, element) {
            element.onclick = function() {
                var delete_url = this.getAttribute('data-url');
                $("#exampleModal").data('url', delete_url);
                $('#exampleModal').modal('show');
            };
        });

        $("#save_button").click(function() {
            var delete_url = $("#exampleModal").data('url');
            $.post(delete_url).done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}