{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>my_app</title>

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/js.cookie.js" %}"></script>

    </head>
    <body>

        <header id="header">
            {% include "my_app/header.html" %}
        </header>

        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        <div id="content" class="main_body">
            {% block content %}
            {% endblock %}
        </div>

        <footer id="footer" class="footer_style">
            {% include "my_app/footer.html" %}
        </footer>

    </body>
</html>